<!-- breadcrumb -->
<div class="bg-gray-13 bg-md-transparent">
  <div class="container">
    <!-- breadcrumb -->
    <div class="my-md-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
          <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="javascript:void(0);" (click)="goHome()">Home</a></li>
          <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active" aria-current="page">Shop
          </li>
        </ol>
      </nav>
    </div>
    <!-- End breadcrumb -->
  </div>
</div>
<!-- End breadcrumb -->

<div class="container">
  <div class="row mb-8">
    <div class="d-none d-xl-block col-xl-3 col-wd-2gdot5">
      <div>
        <shop-sortpanel [brands]="brands"
        [products]="products"
        [max]="highest_amount"
        [loaded]="loaded"
        (newProductSortEvent)="refreshSortedProductList($event)"
        [min]="lowest_amount"></shop-sortpanel>
      </div>

    </div>
    <div class="col-xl-9 col-wd-9gdot5">
      <!-- Shop-control-bar Title -->
      <div class="d-block d-md-flex flex-center-between mb-3">
        <h3 class="font-size-25 mb-2 mb-md-0">Shop</h3>
        <p class="font-size-14 text-gray-90 mb-0">Showing 1–{{products?.length}} of {{products?.length}} results</p>
      </div>
      <!-- End shop-control-bar Title -->
      <!-- Shop-control-bar -->
      <div>
        <shop-controlpanel ></shop-controlpanel>
      </div>
      <!-- End Shop-control-bar -->
      <!-- Shop Body -->
      <!-- Tab Content -->
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade pt-2" id="pills-one-example1" role="tabpanel" aria-labelledby="pills-one-example1-tab"
          data-target-group="groups">
          <ul class="row list-unstyled products-group no-gutters">
            <li class="col-6 col-md-3 col-wd-2gdot4 product-item" *ngFor="let product of products">
              <div class="product-item__outer h-100">
                <div class="product-item__inner px-xl-4 p-3">
                  <div class="product-item__body pb-xl-2">
                    <div class="mb-2"><a href="javascript:void(0);" class="font-size-12 text-gray-5">{{product?.brand?.name}}</a></div>
                    <h5 class="mb-1 product-item__title"><a href="javascript:void(0);"
                      (click)="goToProduct(product)"
                        class="text-blue font-weight-bold">{{product?.name}}</a></h5>
                    <div class="mb-2">
                      <a href="javascript:void(0);"
                      (click)="goToProduct(product)"
                      class="d-block text-center"><img class="img-fluid"
                          src="{{product?.image}}" alt="Image Description"></a>
                    </div>
                    <div class="flex-center-between mb-1">
                      <div class="prodcut-price">
                        <div class="text-gray-100">₦{{product?.price}}</div>
                      </div>
                      <div class="d-none d-xl-block prodcut-add-cart">
                        <app-add-to-cart-modal [product]="product" [text]="false"></app-add-to-cart-modal>
                      </div>
                    </div>
                  </div>
                  <div class="product-item__footer">
                    <div class="border-top pt-2 flex-center-between flex-wrap">
                      <a href="javascript:void(0);" class="text-gray-6 font-size-13">
                        <app-compare [product]=[product]></app-compare> Compare</a>
                      <a href="javascript:void(0);" class="text-gray-6 font-size-13">
                        <app-wishlist></app-wishlist> Wishlist</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="tab-pane fade pt-2" id="pills-two-example1" role="tabpanel" aria-labelledby="pills-two-example1-tab"
          data-target-group="groups">
          <ul class="row list-unstyled products-group no-gutters">
            <li class="col-6 col-md-3 col-wd-2gdot4 product-item" *ngFor="let product of products">
              <div class="product-item__outer h-100">
                <div class="product-item__inner px-xl-4 p-3">
                  <div class="product-item__body pb-xl-2">
                    <div class="mb-2"><a href="javascript:void(0);" (click)="goToProduct(product)" class="font-size-12 text-gray-5">{{product?.brand?.name}}</a></div>
                    <h5 class="mb-1 product-item__title"><a href="javascript:void(0);"
                      (click)="goToProduct(product)"
                        class="text-blue font-weight-bold">{{product?.name}}</a></h5>
                    <div class="mb-2">
                      <a href="javascript:void(0);"
                      (click)="goToProduct(product)"
                      class="d-block text-center"><img class="img-fluid"
                          src="{{product?.image}}" alt="Image Description"></a>
                    </div>
                    <div class="mb-3">
                      <a class="d-inline-flex align-items-center small font-size-14" (click)="goToProduct(product)" href="javascript:void(0);">
                        <div class="text-warning mr-2">
                          <small class="fas fa-star"></small>
                          <small class="fas fa-star"></small>
                          <small class="fas fa-star"></small>
                          <small class="fas fa-star"></small>
                          <small class="far fa-star text-muted"></small>
                        </div>
                        <span class="text-secondary">({{product?.rating?.total_reviews}})</span>
                      </a>
                    </div>
                    <ul class="font-size-12 p-0 text-gray-110 mb-4">
                      <li class="line-clamp-1 mb-1 list-bullet">{{product?.short_description}}</li>
                    </ul>
                    <div class="text-gray-20 mb-2 font-size-12">SKU: {{product?.sku}}</div>
                    <div class="flex-center-between mb-1">
                      <div class="prodcut-price">
                        <div class="text-gray-100">₦{{product?.price}}</div>
                      </div>
                      <div class="d-none d-xl-block prodcut-add-cart">
                        <app-add-to-cart-modal [product]="product" [text]="false"></app-add-to-cart-modal>
                      </div>
                    </div>
                  </div>
                  <div class="product-item__footer">
                    <div class="border-top pt-2 flex-center-between flex-wrap">
                      <a href="javascript:void(0);" class="text-gray-6 font-size-13"><app-compare [product]=[product]></app-compare> Compare</a>
                      <a href="javascript:void(0);" class="text-gray-6 font-size-13"><app-wishlist></app-wishlist> Wishlist</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="tab-pane fade pt-2" id="pills-three-example1" role="tabpanel"
          aria-labelledby="pills-three-example1-tab" data-target-group="groups">
          <ul class="d-block list-unstyled products-group prodcut-list-view">
            <li class="product-item remove-divider" *ngFor="let product of products">
              <div class="product-item__outer w-100">
                <div class="product-item__inner remove-prodcut-hover py-4 row">
                  <div class="product-item__header col-6 col-md-4">
                    <div class="mb-2">
                      <a href="javascript:void(0);" (click)="goToProduct(product)" class="d-block text-center"><img class="img-fluid"
                          src="{{product?.image}}" alt="Image Description"></a>
                    </div>
                  </div>
                  <div class="product-item__body col-6 col-md-5">
                    <div class="pr-lg-10">
                      <div class="mb-2"><a (click)="goToProduct(product)" href="javascript:void(0);" class="font-size-12 text-gray-5">{{product?.brand?.name}}</a>
                      </div>
                      <h5 class="mb-2 product-item__title"><a (click)="goToProduct(product)" href="javascript:void(0);"
                          class="text-blue font-weight-bold">{{product?.name}}</a></h5>
                      <div class="prodcut-price mb-2 d-md-none">
                        <div class="text-gray-100">₦{{product?.price}}</div>
                      </div>
                      <div class="mb-3 d-none d-md-block">
                        <a class="d-inline-flex align-items-center small font-size-14" (click)="goToProduct(product)" href="javascript:void(0);">
                          <div class="text-warning mr-2">
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="far fa-star text-muted"></small>
                          </div>
                          <span class="text-secondary">({{product?.rating?.total_reviews}})</span>
                        </a>
                      </div>
                      <ul class="font-size-12 p-0 text-gray-110 mb-4 d-none d-md-block">
                        <li class="line-clamp-1 mb-1 list-bullet">SKU: {{product?.sku}}</li>
                        <li class="line-clamp-1 mb-1 list-bullet">{{product?.short_description}}</li>
                      </ul>
                    </div>
                  </div>
                  <div class="product-item__footer col-md-3 d-md-block">
                    <div class="mb-3">
                      <div class="prodcut-price mb-2">
                        <div class="text-gray-100">₦{{product?.price}}</div>
                      </div>
                      <div class="prodcut-add-cart">
                        <app-add-to-cart-modal [product]="product" [text]="false"></app-add-to-cart-modal>
                      </div>
                    </div>
                    <div class="flex-horizontal-center justify-content-between justify-content-wd-center flex-wrap">
                      <a href="javascript:void(0);" class="text-gray-6 font-size-13 mx-wd-3"><app-compare [product]=[product]></app-compare> Compare</a>
                      <a href="javascript:void(0);" class="text-gray-6 font-size-13 mx-wd-3"><app-wishlist></app-wishlist> Wishlist</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="tab-pane fade pt-2 show active" id="pills-four-example1" role="tabpanel"
          aria-labelledby="pills-four-example1-tab" data-target-group="groups">
          <ul class="d-block list-unstyled products-group prodcut-list-view-small">
            <li class="product-item remove-divider" *ngFor="let product of products">
              <div class="product-item__outer w-100">
                <div class="product-item__inner remove-prodcut-hover py-4 row">
                  <div class="product-item__header col-6 col-md-2">
                    <div class="mb-2">
                      <a href="javascript:void(0);" (click)="goToProduct(product)" class="d-block text-center"><img class="img-fluid"
                          src="{{product?.image}}" alt="Image Description"></a>
                    </div>
                  </div>
                  <div class="product-item__body col-6 col-md-7">
                    <div class="pr-lg-10">
                      <div class="mb-2"><a href="javascript:void(0);" (click)="goToProduct(product)" class="font-size-12 text-gray-5">{{product?.brand?.name}}</a>
                      </div>
                      <h5 class="mb-2 product-item__title"><a href="javascript:void(0);"
                        (click)="goToProduct(product)"
                          class="text-blue font-weight-bold">{{product?.name}}</a></h5>
                      <div class="prodcut-price d-md-none">
                        <div class="text-gray-100">₦{{product?.price}}</div>
                      </div>
                      <ul class="font-size-12 p-0 text-gray-110 mb-4 d-none d-md-block">
                        <li class="line-clamp-1 mb-1 list-bullet">SKU: {{product?.sku}}</li>
                        <li class="line-clamp-1 mb-1 list-bullet">{{product?.short_description}}</li>
                      </ul>
                      <div class="mb-3 d-none d-md-block">
                        <a class="d-inline-flex align-items-center small font-size-14" (click)="goToProduct(product)" href="javascript:void(0);">
                          <div class="text-warning mr-2">
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="far fa-star text-muted"></small>
                          </div>
                          <span class="text-secondary">({{product?.rating?.total_reviews}})</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="product-item__footer col-md-3 d-md-block">
                    <div class="mb-2 flex-center-between">
                      <div class="prodcut-price">
                        <div class="text-gray-100">₦{{product?.price}}</div>
                      </div>
                      <div class="prodcut-add-cart">
                        <app-add-to-cart-modal [product]="product" [text]="false"></app-add-to-cart-modal>
                      </div>
                    </div>
                    <div
                      class="flex-horizontal-center justify-content-between justify-content-wd-center flex-wrap border-top pt-3">
                      <a href="javascript:void(0);" class="text-gray-6 font-size-13 mx-wd-3"><app-compare [product]=[product]></app-compare> Compare</a>
                      <a href="javascript:void(0);" class="text-gray-6 font-size-13 mx-wd-3"><app-wishlist></app-wishlist> Wishlist</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- End Tab Content -->
      <!-- End Shop Body -->
      <!-- Shop Pagination -->
      <nav class="d-md-flex justify-content-between align-items-center border-top pt-3"
        aria-label="Page navigation example">
        <div class="text-center text-md-left mb-3 mb-md-0">Showing 1–{{products?.length}}of {{products?.length}} results</div>
        <ul class="pagination mb-0 pagination-shop justify-content-center justify-content-md-start">
          <li class="page-item"><a class="page-link current" href="javascript:void(0);">1</a></li>
          <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
          <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
        </ul>
      </nav>
      <!-- End Shop Pagination -->
    </div>
  </div>

</div>
