<div class="login-header box-shadow">
  <div
    class="container-fluid d-flex justify-content-between align-items-center"
  >
    <div class="brand-logo">
      <a
        [routerLink]="['/' + topRoute.url]"
        routerLinkActive="router-link-active"
      >
        <!-- <img src="../../../../assets/vendors/images/logo-icon.png" alt=""> -->
        <h4>Donations</h4>
      </a>
    </div>
    <div class="login-menu">
      <ul>
        <li><app-select-language></app-select-language></li>
      </ul>
    </div>
  </div>
</div>
