
.ng-select.custom {
    border:0px;
    min-height: 0px;
    max-height: 18px !important;
    border-radius: 0;
}
.ng-select.custom .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
}