<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header-left-aligned-nav">
  <div class="u-header__section">
    <div class="row">
      <div class="col-md-12">
        <nav-header-top [categories]="categories" [stores]="stores"></nav-header-top>
      </div>
      <div class="col-md-12">
        <nav-header-center [categories]="categories" [stores]="stores"></nav-header-center>
      </div>
      <div class="col-md-12">
        <nav-header-bottom [categories]="categories" [stores]="stores"></nav-header-bottom>
      </div>
    </div>
  </div>
</header>
<!-- ========== END HEADER ========== -->
