<!-- Button trigger modal -->
<button type="button" id="lunchPasswordResetModal" class="btn btn-primary hideit" data-toggle="modal"
  data-target="#resetPasswordModal" data-backdrop="static" data-keyboard="false">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="resetPasswordModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resetPasswordModalLabel">Password Reset</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="dfsdlClose">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <h6 class="errorMessageText text-center">{{errorMessage}}</h6>
              <!-- Form Group -->
              <div class="form-group">
                <div class="js-form-message js-focus-state">
                  <label class="sr-only" for="recoverEmail">Email</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="recoversdfsEmailLabel">
                        <span class="fas fa-user"></span>
                      </span>
                    </div>
                    <input type="email" [(ngModel)]="email"
                    [disabled]="true"
                    class="form-control" name="email" id="recoverEmdsfdfail"
                      placeholder="Your email" aria-label="Your email" aria-describedby="recoverEmailLabel" required
                      data-msg="Please enter a valid email address." data-error-class="u-has-error"
                      data-success-class="u-has-success">
                  </div>
                </div>
              </div>
              <!-- End Form Group -->
            <!-- Form Group -->
            <div class="form-group mb-2">
              <div class="js-form-message js-focus-state">
                <label class="sr-only" for="recoverEmailCodePasswordNew">New Password</label>
                <div class="input-group">
                  <div class="input-group-prepend designlink" (click)="togglePassword()">
                    <span class="input-group-text" id="recoverCodePasswordLabel">
                      <span class="fas fa-lock"></span>
                    </span>
                  </div>
                  <input type="{{password.type}}" [(ngModel)]="password.new"
                  class="form-control" name="oldpassword" id="oldPassword"
                    placeholder="Your new password"
                    aria-label="Your new password"
                    aria-describedby="newPasswordLabel" required
                    data-msg="Please enter your new password."
                    data-error-class="u-has-error"
                    data-success-class="u-has-success">
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="js-form-message js-focus-state">
                <label class="sr-only" for="recoverEmailCodePasswordConfirmw">Confirm Password</label>
                <div class="input-group">
                  <div class="input-group-prepend designlink" (click)="togglePassword()">
                    <span class="input-group-text" id="recoverCodePasswordLabel">
                      <span class="fas fa-lock"></span>
                    </span>
                  </div>
                  <input type="{{password.type}}" [(ngModel)]="password.confirm"
                  class="form-control" name="confirmpassword" id="olsdPassword"
                    placeholder="Confirm password"
                    aria-label="Confirm password"
                    aria-describedby="newPasswordLsabel" required
                    data-msg="Please enter your new password once again."
                    data-error-class="u-has-error"
                    data-success-class="u-has-success">
                </div>
              </div>
            </div>
            <!-- End Form Group -->
            <div class="form-group d-flex align-items-center justify-content-between px-3 mb-5">
              <div class="form-check">
                <input class="form-check-input" [(ngModel)]="shouldlogin" type="checkbox" value=""
                  id="defaultCheck10didshouldloginforgetpass" required="" data-msg="Do you wish to login"
                  data-error-class="u-has-error" data-success-class="u-has-success">
                <label class="form-check-label form-label" for="defaultCheck10didshouldloginforgetpass">
                  Login me in
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button *ngIf="authCode && authCode.length > 2 && email" type="button" class="btn btn-primary" (click)="updatePAssword()">Update</button>
      </div>
    </div>
  </div>
</div>
