<!-- Logo and Menu -->
<div class="py-2 py-xl-4 bg-primary-down-lg">
  <div class="container my-0dot5 my-xl-0">
    <div class="row align-items-center">
      <!-- Logo-offcanvas-menu -->
      <div class="col-auto">
        <!-- Nav -->
        <nav class="navbar navbar-expand u-header__navbar py-0 justify-content-xl-between max-width-270 min-width-270">
          <!-- Logo -->
          <a class="order-1 order-xl-0 navbar-brand u-header__navbar-brand u-header__navbar-brand-center"
            href="javascript:void(0);" (click)="goTohome()" aria-label="LasLas">
            <img src="https://res.cloudinary.com/systemtech-services/image/fetch/v1649113683/https://systemtech-ng.com/images/laslas_logo2.fw.png">
          </a>
          <!-- End Logo -->

          <!-- Fullscreen Toggle Button -->
          <button id="sidebarHeaderInvokerMenu" type="button"
            class="navbar-toggler d-block btn u-hamburger mr-3 mr-xl-0" aria-controls="sidebarHeader"
            aria-haspopup="true" aria-expanded="false" data-unfold-event="click" data-unfold-hide-on-scroll="false"
            data-unfold-target="#sidebarHeader1" data-unfold-type="css-animation" data-unfold-animation-in="fadeInLeft"
            data-unfold-animation-out="fadeOutLeft" data-unfold-duration="500">
            <span id="hamburgerTriggerMenu" class="u-hamburger__box">
              <span class="u-hamburger__inner"></span>
            </span>
          </button>
          <!-- End Fullscreen Toggle Button -->
        </nav>
        <!-- End Nav -->

        <!-- ========== HEADER SIDEBAR ========== -->
        <aside id="sidebarHeader1" class="u-sidebar u-sidebar--left" aria-labelledby="sidebarHeaderInvokerMenu">
          <div class="u-sidebar__scroller">
            <div class="u-sidebar__container">
              <div class="u-header-sidebar__footer-offset pb-0">
                <!-- Toggle Button -->
                <div class="position-absolute top-0 right-0 z-index-2 pt-4 pr-7">
                  <button type="button" id="closeMenuMobile" class="close ml-auto" aria-controls="sidebarHeader" aria-haspopup="true"
                    aria-expanded="false" data-unfold-event="click" data-unfold-hide-on-scroll="false"
                    data-unfold-target="#sidebarHeader1" data-unfold-type="css-animation"
                    data-unfold-animation-in="fadeInLeft" data-unfold-animation-out="fadeOutLeft"
                    data-unfold-duration="500">
                    <span aria-hidden="true"><i class="ec ec-close-remove text-gray-90 font-size-20"></i></span>
                  </button>
                </div>
                <!-- End Toggle Button -->

                <!-- Content -->
                <div class="js-scrollbar u-sidebar__body">
                  <div id="headerSidebarContent" class="u-sidebar__content u-header-sidebar__content">
                    <!-- Logo -->
                    <a class="d-flex ml-0 navbar-brand u-header__navbar-brand u-header__navbar-brand-vertical"
                      href="javascript:void(0);" aria-label="Electro">
                      <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                      width="175.748px" height="42.52px" viewBox="0 0 600.000000 288.000000"
           preserveAspectRatio="xMidYMid meet">

          <g transform="translate(0.000000,288.000000) scale(0.100000,-0.100000)"
          fill="#000000" stroke="none">
          <path d="M3180 2146 c-85 -19 -129 -35 -211 -77 -96 -50 -178 -116 -252 -204
          l-59 -70 -106 -1 c-81 -1 -123 -7 -172 -23 -309 -104 -445 -460 -285 -746 60
          -108 173 -198 295 -236 84 -26 217 -27 294 -3 l55 17 43 -42 c103 -101 269
          -187 412 -212 110 -19 294 -7 394 25 51 17 82 32 79 39 -5 16 -27 13 -112 -13
          -56 -18 -97 -23 -200 -23 -163 -2 -223 11 -353 75 -81 39 -119 66 -175 120
          -40 38 -63 67 -52 64 36 -10 147 83 204 173 98 154 100 375 4 538 -42 73 -135
          157 -212 194 -39 19 -71 39 -71 46 0 19 115 138 184 190 75 57 182 108 273
          129 79 20 287 23 345 7 30 -9 39 -8 49 3 16 19 15 20 -62 33 -84 14 -238 13
          -309 -3z m-702 -376 c-82 -10 -164 -44 -232 -94 -107 -80 -179 -204 -196 -334
          -7 -50 -8 -52 -9 -16 -2 82 49 204 123 290 76 88 229 165 326 162 44 -1 44 -1
          -12 -8z m145 3 c-13 -2 -35 -2 -50 0 -16 2 -5 4 22 4 28 0 40 -2 28 -4z m7
          -22 c0 -5 -13 -37 -30 -72 -112 -241 -83 -572 69 -786 22 -31 38 -60 36 -64
          -19 -29 -211 -38 -296 -13 -62 18 -147 64 -174 94 -10 11 -23 20 -28 20 -6 0
          0 -12 14 -26 39 -42 175 -104 249 -113 52 -7 57 -9 24 -10 -122 -4 -301 105
          -381 232 -38 61 -73 165 -72 217 1 40 2 38 10 -20 10 -79 73 -211 120 -255 34
          -31 34 -30 -34 66 -97 139 -104 341 -16 495 60 105 177 198 289 230 52 14 220
          18 220 5z m137 -21 c33 -17 81 -48 106 -70 93 -82 169 -235 166 -334 -2 -38
          -2 -37 -9 14 -23 182 -142 335 -310 401 -25 10 -38 18 -29 19 9 0 43 -14 76
          -30z m-9 -19 c71 -36 175 -138 209 -205 71 -140 72 -311 1 -451 -30 -58 -129
          -161 -183 -190 l-37 -19 -22 27 c-115 144 -178 368 -156 557 11 98 23 144 62
          238 35 84 41 86 126 43z m262 -582 c-11 -37 -40 -97 -63 -131 -41 -59 -148
          -158 -172 -158 -5 0 -1 7 10 15 144 106 219 222 234 360 5 51 6 54 9 21 2 -21
          -6 -69 -18 -107z m-320 -326 c-19 -8 -62 -17 -95 -19 l-60 -3 60 9 c33 5 71
          13 85 19 40 16 49 11 10 -6z"/>
          <path d="M2217 1507 c-155 -49 -195 -237 -74 -344 79 -69 193 -65 275 10 l22
          20 0 -36 c0 -30 4 -37 20 -37 19 0 20 7 20 195 0 188 -1 195 -20 195 -16 0
          -20 -7 -20 -37 l0 -36 -22 20 c-54 49 -137 70 -201 50z m152 -56 c47 -34 74
          -94 69 -152 -15 -156 -207 -204 -302 -76 -33 44 -30 142 6 189 15 19 42 42 60
          52 45 23 125 17 167 -13z"/>
          <path d="M2701 1509 c-49 -20 -66 -74 -35 -117 8 -12 41 -38 72 -58 68 -43 92
          -70 91 -104 0 -47 -43 -80 -104 -80 -28 0 -44 7 -66 31 l-29 31 0 -25 c0 -31
          39 -64 86 -73 48 -9 117 26 139 72 31 66 -1 125 -100 185 -58 35 -77 67 -55
          94 18 22 60 18 87 -7 l23 -21 0 26 c0 19 -8 31 -30 42 -33 17 -45 18 -79 4z"/>
          <path d="M3579 2114 c-14 -18 -17 -15 56 -43 129 -48 295 -187 369 -309 152
          -250 154 -564 7 -812 -53 -88 -177 -214 -263 -265 -64 -38 -82 -62 -44 -59 32
          3 129 70 200 139 167 161 248 353 247 589 -1 331 -190 612 -503 750 -49 22
          -58 23 -69 10z"/>
          <path d="M410 1440 l0 -320 115 0 c108 0 115 1 115 20 0 19 -7 20 -95 20 l-95
          0 0 300 c0 293 0 300 -20 300 -20 0 -20 -7 -20 -320z"/>
          <path d="M1720 1440 l0 -320 115 0 c108 0 115 1 115 20 0 19 -7 20 -95 20
          l-95 0 0 300 c0 293 0 300 -20 300 -20 0 -20 -7 -20 -320z"/>
          <path d="M901 1505 c-53 -17 -97 -56 -122 -110 -36 -78 -23 -151 40 -216 52
          -53 108 -74 169 -63 41 7 122 50 122 64 0 6 5 10 10 10 6 0 10 -16 10 -35 0
          -28 4 -35 20 -35 19 0 20 7 20 195 0 188 -1 195 -20 195 -16 0 -20 -7 -20 -37
          l0 -36 -22 20 c-56 50 -137 69 -207 48z m145 -50 c46 -27 84 -90 84 -141 0
          -44 -40 -116 -79 -141 -47 -32 -125 -32 -172 0 -107 72 -107 212 0 284 47 32
          111 31 167 -2z"/>
          <path d="M1383 1505 c-63 -27 -56 -100 16 -150 71 -49 121 -101 121 -125 0
          -12 -13 -35 -29 -51 -43 -42 -102 -41 -142 2 -33 35 -45 33 -35 -6 9 -36 84
          -70 134 -60 43 8 102 63 103 96 4 73 -12 97 -101 154 -54 34 -70 50 -70 68 0
          52 64 65 99 21 l21 -27 0 31 c0 25 -6 35 -30 47 -35 18 -46 18 -87 0z"/>
          </g>
          </svg>
                    </a>
                    <!-- End Logo -->

                    <!-- List -->
                    <ul id="headerSidebarList" class="u-header-collapse__nav">

                      <!-- Ecommerce Pages -->
                      <li class="u-has-submenu u-header-collapse__submenu mobileside">
                        <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer" href="javascript:;"
                          data-target="#headerSidebarDemosCollapse" role="button" data-toggle="collapse"
                          aria-expanded="false" aria-controls="headerSidebarDemosCollapse">
                          My Account
                        </a>

                        <div id="headerSidebarDemosCollapse" class="collapse" data-parent="#headerSidebarContent">
                          <ul id="headerSidebarDemosMenu" class="u-header-collapse__nav-list">
                            <!-- Shop -->
                            <li><a class="u-header-collapse__submenu-nav-link" href="javascript:void(0);"
                              (click)="goTo('dashboard')" *ngIf="(_auth.status | async)"
                              >Dashboard</a>
                            </li>
                            <li><a class="u-header-collapse__submenu-nav-link" href="javascript:void(0);"
                              (click)="goTo('profile')" *ngIf="(_auth.status | async)"
                              >Profile</a>
                            </li>
                            <li><a class="u-header-collapse__submenu-nav-link" href="javascript:void(0);"
                              (click)="goTo('change-password')" *ngIf="(_auth.status | async)"
                              >Change Password</a>
                            </li>
                            <li><a class="u-header-collapse__submenu-nav-link" href="javascript:void(0);"
                              (click)="goTo('orders')" *ngIf="(_auth.status | async)"
                              >Orders</a>
                            </li>
                            <li><a class="u-header-collapse__submenu-nav-link" href="javascript:void(0);"
                              (click)="goTo('ticket')" *ngIf="(_auth.status | async)"
                              >Tickets</a>
                            </li>
                            <li><a class="u-header-collapse__submenu-nav-link" href="javascript:void(0);"
                              (click)="authenticate()" *ngIf="!(_auth.status | async)"
                              >Register/Login</a>
                            </li>
                            <li><a class="u-header-collapse__submenu-nav-link" (click)="goToPage('faq')" href="javascript:void(0);">FAQ</a>
                            </li>
                            <!-- End Shop -->

                            <!-- Cart -->
                            <li><a class="u-header-collapse__submenu-nav-link" href="javascript:void(0);">Locate us</a>
                            </li>
                            <li><a class="u-header-collapse__submenu-nav-link" href="javascript:void(0);" (click)="authenticate()"  *ngIf="(_auth.status | async)">Log out</a>
                            </li>
                            <!-- End Cart -->

                          </ul>
                        </div>
                      </li>
                      <!-- End Ecommerce Pages -->
                      <!-- Home Section -->
                      <li class="u-has-submenu u-header-collapse__submenu mobileside">
                        <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer" href="javascript:;"
                          role="button" data-toggle="collapse" aria-expanded="false"
                          aria-controls="headerSidebarHomeCollapse" data-target="#headerSidebarHomeCollapse">
                          Home
                        </a>

                        <div id="headerSidebarHomeCollapse" class="collapse" data-parent="#headerSidebarContent">
                          <ul id="headerSidebarHomeMenu" class="u-header-collapse__nav-list">
                            <!-- Home - v1 -->
                            <li><a class="u-header-collapse__submenu-nav-link" href="javascript:void(0);" (click)="goTohome()">Home</a>
                            </li>
                            <!-- End Home - v1 -->
                            <!-- Home - v2 -->
                            <li><a class="u-header-collapse__submenu-nav-link" href="javascript:void(0);" (click)="goToshop()">Shop </a></li>
                            <!-- End Home - v2 -->
                            <!-- Home - v3 -->
                            <li><a class="u-header-collapse__submenu-nav-link" href="javascript:void(0);"  (click)="checkout('cart')">Cart</a></li>
                            <!-- End Home - v3 -->
                            <!-- Home - v3-full-color-bg -->
                            <li><a class="u-header-collapse__submenu-nav-link" *ngIf="(_auth.status | async)"
                                href="javascript:void(0);" (click)="checkout('clearance')">Checkout</a></li>
                            <!-- End Home - v3-full-color-bg -->
                            <!-- Home - v4 -->
                            <!-- End Home - v4 -->
                            <!-- Home - v5 -->
                            <li><a class="u-header-collapse__submenu-nav-link" href="javascript:void(0);" (click)="goToPage('track-order')">Track your order</a></li>
                            <!-- End Home - v5 -->
                            <!-- Home - v6 -->
                            <li><a class="u-header-collapse__submenu-nav-link" href="javascript:void(0);">Compare</a></li>
                            <!-- End Home - v6 -->
                            <!-- Terms and Conditions -->
                            <li><a class="u-header-collapse__submenu-nav-link"
                                href="javascript:void(0);">Terms and Conditions</a></li>
                            <!-- End Terms and Conditions -->
                          </ul>
                        </div>
                      </li>
                      <!-- End Home Section -->

                      <!-- Shop Pages -->
                      <li class="u-has-submenu u-header-collapse__submenu mobileside">
                        <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer" href="javascript:;"
                          data-target="#headerSidebarPagesCollapse" role="button" data-toggle="collapse"
                          aria-expanded="false" aria-controls="headerSidebarPagesCollapse">
                          Stores
                        </a>

                        <div id="headerSidebarPagesCollapse" class="collapse" data-parent="#headerSidebarContent">
                          <ul id="headerSidebarPagesMenu" class="u-header-collapse__nav-list">
                            <!-- Shop Grid -->
                            <li *ngFor="let store of stores">
                              <a class="u-header-collapse__submenu-nav-link"
                              href="javascript:void(0);" (click)="goToshop()">{{store?.name}}</a></li>
                            <!-- End Shop Grid -->
                          </ul>
                        </div>
                      </li>
                      <!-- End Shop Pages -->

                      <!-- Product Categories -->
                      <li class="u-has-submenu u-header-collapse__submenu mobileside">
                        <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer" href="javascript:;"
                          data-target="#headerSidebarBlogCollapse" role="button" data-toggle="collapse"
                          aria-expanded="false" aria-controls="headerSidebarBlogCollapse">
                          Product Categories
                        </a>

                        <div id="headerSidebarBlogCollapse" class="collapse" data-parent="#headerSidebarContent">
                          <ul id="headerSidebarBlogMenu" class="u-header-collapse__nav-list">
                            <!-- 4 Column Sidebar -->
                            <li *ngFor="let category of categories"><a class="u-header-collapse__submenu-nav-link"
                                href="javascript:void(0);" (click)="goToshop()">{{category?.name}}</a></li>
                            <!-- End 4 Column Sidebar -->
                          </ul>
                        </div>
                      </li>
                      <!-- End Product Categories -->
                    </ul>
                    <!-- End List -->
                  </div>
                </div>
                <!-- End Content -->
              </div>
            </div>
          </div>
        </aside>
        <!-- ========== END HEADER SIDEBAR ========== -->
      </div>
      <!-- End Logo-offcanvas-menu -->
      <!-- Primary Menu -->
      <div class="col d-none d-xl-block">
        <!-- Nav -->
        <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
          <!-- Navigation -->
          <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
            <ul class="navbar-nav u-header__navbar-nav">
              <!-- Home -->
              <!-- <li class="nav-item hs-has-sub-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp"
                data-animation-out="fadeOut">
                <a id="HomeMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;"
                  aria-haspopup="true" aria-expanded="false" aria-labelledby="HomeSubMenu">Home</a>

                <ul id="HomeSubMenu" class="hs-sub-menu u-header__sub-menu animated fadeOut"
                  aria-labelledby="HomeMegaMenu" style="min-width: 230px; display: none;">
                  <li><a class="nav-link u-header__sub-menu-nav-link" href="javascript:void(0);" (click)="goTohome()">Home</a></li>
                  <li><a class="nav-link u-header__sub-menu-nav-link" href="javascript:void(0);" (click)="goToshop()">Shop</a></li>
                  <li><a class="nav-link u-header__sub-menu-nav-link" href="javascript:void(0);" *ngIf="(_auth.status | async)" (click)="checkout('cart')">Cart</a></li>
                  <li><a class="nav-link u-header__sub-menu-nav-link" href="javascript:void(0);" *ngIf="(_auth.status | async)" (click)="checkout('clearance')">
                    Checkout
                  </a></li>
                  <li><a class="nav-link u-header__sub-menu-nav-link" href="javascript:void(0);" *ngIf="(_auth.status | async)" (click)="goToAccount()">My Account</a></li>
                  <li><a class="nav-link u-header__sub-menu-nav-link" href="javascript:void(0);" *ngIf="(_auth.status | async)"  (click)="goToPage('track-order')">Track Your Order</a></li>
                  <li><a class="nav-link u-header__sub-menu-nav-link" href="javascript:void(0);">Compare</a></li>
                </ul>
              </li> -->
              <!-- End Home -->

              <!-- Pages -->
              <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="click" data-animation-in="slideInUp"
                data-animation-out="fadeOut">
                <a id="pagesMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;"
                  aria-haspopup="true" aria-expanded="false">Marketplace</a>

                <!-- Home - Mega Menu -->
                <div class="hs-mega-menu w-100 u-header__sub-menu" aria-labelledby="pagesMegaMenu">
                  <div class="row u-header__mega-menu-wrapper">
                    <div class="col-md-4">
                      <span class="u-header__sub-menu-title">Shop By Categories</span>
                      <ul class="u-header__sub-menu-nav-group">
                        <li><a href="javascript:void(0);" class="nav-link u-header__sub-menu-nav-link" (click)="goToshop()" *ngFor="let category of categories">{{category?.name}}</a></li>
                      </ul>
                      <span class="u-header__sub-menu-title mt-2">Best Sellers</span>
                      <ul class="u-header__sub-menu-nav-group mb-3">
                        <li><a href="javascript:void(0);" class="nav-link u-header__sub-menu-nav-link" (click)="goToshop()" *ngFor="let store of stores| slice:10:19">{{store?.name}}</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-4">
                      <span class="u-header__sub-menu-title">Shop By Store</span>
                      <ul class="u-header__sub-menu-nav-group mb-3">
                        <li><a href="javascript:void(0);" class="nav-link u-header__sub-menu-nav-link" (click)="goToshop()" *ngFor="let store of stores| slice:0:10">{{store?.name}}</a>
                      </ul>
                    </div>
                    <div class="col-md-4">
                      <span class="u-header__sub-menu-title">Todays Deal</span>
                      <ul class="u-header__sub-menu-nav-group">
                        <li><a href="javascript:void(0);" class="nav-link u-header__sub-menu-nav-link" (click)="goToshop()">Shop</a></li>
                        <li><a href="javascript:void(0);" class="nav-link u-header__sub-menu-nav-link" (click)="checkout('cart')">Cart</a></li>
                        <li><a href="javascript:void(0);" class="nav-link u-header__sub-menu-nav-link" (click)="checkout('clearance')">Checkout</a>
                        </li>
                        <li><a href="javascript:void(0);" (click)="goToPage('account/dashboard')"  class="nav-link u-header__sub-menu-nav-link">My
                            Account</a></li>
                        <li><a href="javascript:void(0);" (click)="goToPage('track-order')" class="nav-link u-header__sub-menu-nav-link">Track
                            your Order</a></li>
                        <li><a href="javascript:void(0);" class="nav-link u-header__sub-menu-nav-link">Compare</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- End Home - Mega Menu -->
              </li>
              <!-- End Pages -->

              <!-- About us -->
              <li class="nav-item u-header__nav-item">
                <a class="nav-link u-header__nav-link" href="javascript:void(0)" (click)="goToPage('about')">About us</a>
              </li>
              <!-- End About us -->

              <!-- FAQs -->
              <li class="nav-item u-header__nav-item">
                <a class="nav-link u-header__nav-link" href="javascript:void(0)" (click)="goToPage('faq')">FAQs</a>
              </li>
              <!-- End FAQs -->

              <!-- Contact Us -->
              <!-- <li class="nav-item u-header__nav-item">
                <a class="nav-link u-header__nav-link" href="javascript:void(0)" (click)="goToPage('contact')">Contact Us</a>
              </li> -->
              <!-- End Contact Us -->
            </ul>
          </div>
          <!-- End Navigation -->
        </nav>
        <!-- End Nav -->
      </div>
      <!-- End Primary Menu -->
      <!-- Customer Care -->
      <div class="d-none d-xl-block col-md-auto">
        <div class="d-flex">
          <i class="ec ec-support font-size-50 text-primary"></i>
          <div class="ml-2">
            <div class="phone">
              <strong>Support</strong> <a href="tel:800856800604" class="text-gray-90">(+800) 856 800 604</a>
            </div>
            <div class="email">
              E-mail: <a href="mailto:info@laslas.com?subject=Help Need" class="text-gray-90">info@laslas.com</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Customer Care -->
      <!-- Header Icons -->
      <div class="d-xl-none col col-xl-auto text-right text-xl-left pl-0 pl-xl-3 position-static">
        <div class="d-inline-flex">
          <ul class="d-flex list-unstyled mb-0 align-items-center">
            <!-- Search -->
            <li class="col d-xl-none px-2 px-sm-3 position-static">
              <a id="searchClassicInvoker" class="font-size-22 text-gray-90 text-lh-1 btn-text-secondary"
                href="javascript:;" role="button" data-toggle="tooltip" data-placement="top" title="Search"
                aria-controls="searchClassic" aria-haspopup="true" aria-expanded="false"
                data-unfold-target="#searchClassic" data-unfold-type="css-animation" data-unfold-duration="300"
                data-unfold-delay="300" data-unfold-hide-on-scroll="true" data-unfold-animation-in="slideInUp"
                data-unfold-animation-out="fadeOut">
                <span class="ec ec-search"></span>
              </a>

              <!-- Input -->
              <div id="searchClassic" class="dropdown-menu dropdown-unfold dropdown-menu-right left-0 mx-2"
                aria-labelledby="searchClassicInvoker">
                <form class="js-focus-state input-group px-3">
                  <input class="form-control" type="search" placeholder="Search Product">
                  <div class="input-group-append">
                    <button class="btn btn-primary px-3" type="button"><i
                        class="font-size-18 ec ec-search"></i></button>
                  </div>
                </form>
              </div>
              <!-- End Input -->
            </li>
            <!-- End Search -->
            <li class="col d-none d-xl-block"><a href="javascript:void(0);" class="text-gray-90" data-toggle="tooltip"
                data-placement="top" title="Compare"><i class="font-size-22 ec ec-compare"></i></a></li>
            <li class="col d-none d-xl-block"><a href="javascript:void(0);" class="text-gray-90" data-toggle="tooltip"
                data-placement="top" title="Favorites"><i class="font-size-22 ec ec-favorites"></i></a></li>
            <li class="col d-xl-none px-2 px-sm-3"><a href="javascript:void(0);" class="text-gray-90"
              (click)="goToAccount()"
                data-toggle="tooltip" data-placement="top" title="My Account"><i
                  class="font-size-22 ec ec-user"></i></a></li>
            <li class="col pr-xl-0 px-2 px-sm-3">
              <a href="javascript:void(0);"
              (click)="goToCart()"
              class="text-gray-90 position-relative d-flex " data-toggle="tooltip"
                data-placement="top" title="Cart">
                <i class="font-size-22 ec ec-shopping-bag"></i>
                <span
                  class="width-22 height-22 bg-dark position-absolute d-flex align-items-center justify-content-center rounded-circle left-12 top-8 font-weight-bold font-size-12 text-white">{{cartLength}}</span>
                <span class="d-none d-xl-block font-weight-bold font-size-16 text-gray-90 ml-3">{{balance | currency:"₦"}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End Header Icons -->
    </div>
  </div>
</div>
<!-- End Logo and Menu -->
