<div id="forgotPassword" style="display: none; opacity: 0;" data-target-group="idForm">
  <!-- Title -->
  <header class="text-center mb-7">
    <h2 class="h4 mb-0">Authenticate account</h2>
    <p>Enter your email address and an email with instructions will be sent to you.</p>
    <p class="errorMessageText">{{errorMessage}}</p>
  </header>
  <!-- End Title -->

  <!-- Form Group -->
  <div class="form-group">
    <div class="js-form-message js-focus-state">
      <label class="sr-only" for="recoverEmail">Your email</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="recoverEmailLabel">
            <span class="fas fa-user"></span>
          </span>
        </div>
        <input type="email" [(ngModel)]="email"
        [disabled]="showCodeField"
        class="form-control" name="email" id="recoverEmail"
          placeholder="Your email" aria-label="Your email" aria-describedby="recoverEmailLabel" required
          data-msg="Please enter a valid email address." data-error-class="u-has-error"
          data-success-class="u-has-success">
      </div>
    </div>
  </div>
  <!-- End Form Group -->
  <!-- Form Group -->
  <div class="form-group" *ngIf="showCodeField && !forgotpassword">
    <div class="js-form-message js-focus-state">
      <label class="sr-only" for="recoverEmailCode">Code</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="recoverCodeLabel">
            <span class="fas fa-lock"></span>
          </span>
        </div>
        <input type="text" [(ngModel)]="code" class="form-control" name="code" id="recoverEmailCode"
          placeholder="Your code" aria-label="Your code" aria-describedby="recoverCodeLabel" required
          data-msg="Please enter the code you received." data-error-class="u-has-error"
          data-success-class="u-has-success">
      </div>
    </div>
  </div>
  <!-- End Form Group -->
  <div class="form-group d-flex align-items-center justify-content-between px-3 mb-5" *ngIf="!showCodeField">
    <div class="form-check">
      <input class="form-check-input" [(ngModel)]="forgotpassword" type="checkbox" value=""
        id="defaultCheck10didforgetpass" required="" data-msg="Please agree terms and conditions."
        data-error-class="u-has-error" data-success-class="u-has-success">
      <label class="form-check-label form-label" for="defaultCheck10didforgetpass">
        <a href="javascript:void(0)" (click)="forgotpassword = !forgotpassword" class="text-blue">Forgot password?</a>
      </label>
    </div>
  </div>
  <div class="mb-2">
    <button type="button" *ngIf="!showCodeField" disabled="{{!confirmEmail() ? true : null}}" (click)="sendRequest()"
      class="btn btn-block btn-sm btn-primary transition-3d-hover">
      Send code</button>
    <button type="button" *ngIf="showCodeField && !forgotpassword" disabled="{{code.length<1 ? true : null}}"
      (click)="verifyCodeRequest()"
      class="btn btn-block btn-sm btn-primary transition-3d-hover">
      Authorize</button>
  </div>

  <div class="text-center mb-4">
    <span class="small text-muted">Remember your password?</span>
    <a class="js-animation-link small" href="javascript:;" data-target="#login" data-link-group="idForm"
      data-animation-in="slideInUp">Login
    </a>
  </div>
</div>
