<button type="button" id="success-modal-btn" hidden data-toggle="modal" data-target="#success-modal" data-backdrop="static">Launch modal</button>
<div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered max-width-400" role="document">
    <div class="modal-content">
      <div class="modal-body text-center font-18">
        <h3 class="mb-20" id="formModalTitle">{{modalData.title}}</h3>
        <div class="mb-30 text-center"><img src="../../../assets/vendors/images/success.png" id="formModaltype" ></div>
        <span id="formModalmessageback">{{modalData.message}}</span>
      </div>
      <div class="modal-footer justify-content-center">
        <a href="javascript:void(0);" (click)="action(modalData.fallbackUrl)" id="formModalFallbackId" class="btn btn-primary">{{modalData.button}}</a>
      </div>
    </div>
  </div>
</div>

<a href="#" class="btn-block" id="formModal" data-backdrop="static" data-toggle="modal" data-target="#login-modal" type="button"></a>
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="login-box bg-white box-shadow border-radius-10">
        <div class="login-title">
          <h2 class="text-center text-primary" id="inputFormModalTitle"></h2>
        </div>
        <form id="inpForm">
          <div class="input-group custom">
            <input type="text" class="form-control form-control-lg" placeholder="Username">
            <div class="input-group-append custom">
              <span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group mb-0">
                <a class="btn btn-primary btn-lg" id="inputFormAction">dsfsfs</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
