<div class="header">
  <app-nav-search></app-nav-search>
  <div class="header-right">
    <app-layout-setting></app-layout-setting>
    <app-nav-notification></app-nav-notification>
    <div class="user-info-dropdown">
      <div class="dropdown">
        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          <span class="user-icon" [ngClass]="{'success': user._authData, 'error': !user._authData}">
            <!-- <img src="../assets/vendors/images/photo1.jpg" alt=""> -->
          </span>
          <span class="user-name">{{(user._ethAddress ? user._ethAddress : user._username) | slice:0:7}}***</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
          <a class="dropdown-item" href="/dashboard" *ngIf="user"><i class="dw dw-analytics-11"></i> Dashboard</a>
          <a class="dropdown-item" href="/account" *ngIf="user"><i class="dw dw-user-3"></i> Account</a>
          <a class="dropdown-item" href="/guide" *ngIf="user"><i class="dw dw-help"></i> Guide</a>
          <a class="dropdown-item" href="javascript:;" *ngIf="user"><i class="dw dw-file-35"></i> Investments</a>
          <a class="dropdown-item" href="javascript:;"><i class="dw dw-wallet"></i> Withdrawal</a>
          <a class="dropdown-item" href="/auth/logout" *ngIf="user"><i class="dw dw-logout"></i> Log Out</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-form-modal [modalData]=" {
  button: 'Done',
  title: 'Form submitted',
  type: 'success',
  message: 'Register form submitted successfully. Please wait while it is being processed'
}">
</app-form-modal>

