<div class="modal-content modal-content-size-l">
  <div class="modal-header">
    <h5 class="w80p">{{product?.name}}</h5>
    <nav-header-bottom-right></nav-header-bottom-right>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-3 text-left">
        <h5>Select A Variation</h5>
        <ng-select [(ngModel)]="selectedVaiance">
          <ng-option *ngFor="let vary of getDistinctKeys(product?.product_variances, 'attribute_name')"
            [value]="vary">{{vary}}</ng-option>
        </ng-select>
      </div>
      <div class="col-md-6">
        <h5><strong>Options</strong></h5>
        <table class="table table-responsive table-bordered table-hover table-sm">
          <thead class="thead-light">
            <tr>
              <!-- <th scope="col" class="pad15">Type</th>
              <th scope="col" class="pad15">Value</th> -->
              <th scope="col" class="pad15" *ngIf="selectedVaiance">Quantity</th>
              <th scope="col" class="pad15" *ngIf="selectedVaiance">{{selectedVaiance}}</th>
              <th scope="col" class="pad15"
                *ngIf="getDistinctKeys(product?.product_variances, 'attribute_name').length > 0 && selectedVaiance">
                Action</th>
              <th scope="col" class="pad15"
                *ngIf="getDistinctKeys(product?.product_variances, 'attribute_name').length < 1">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vary of getDistinctKeys(product?.product_variances, 'attribute_name');">
              <!-- <td>
                <p class="text-center">
                  {{vary?.attribute_meta_name | replace : '_' : ' '}}</p>
              </td>
              <td>
                <p class="text-center">
                  {{vary?.value}}</p>
              </td> -->
              <td *ngIf="getDistinctKeys(product?.product_variances, 'attribute_name').length > 0 && selectedVaiance">
                <ng-select [(ngModel)]="quantity">
                  <ng-option *ngFor="let q of [1,2,3,4,5,6,7,8,9,10]" [value]="q">{{q}}</ng-option>
                </ng-select>
              </td>
              <td *ngIf="getDistinctKeys(product?.product_variances, 'attribute_name').length < 1">
                <ng-select [(ngModel)]="quantity">
                  <ng-option *ngFor="let q of [1,2,3,4,5,6,7,8,9,10]" [value]="q">{{q}}</ng-option>
                </ng-select>
              </td>

              <td *ngIf="selectedVaiance">
                <ng-select [(ngModel)]="selectedVarianceValue">
                  <ng-option *ngFor="let vary of getDistinctKeys(product?.product_variances, 'value')"
                    [value]="vary">{{vary}}</ng-option>
                </ng-select>
              </td>
              <td *ngIf="getDistinctKeys(product?.product_variances, 'attribute_name').length > 0 && selectedVaiance">
                <button color="dark" mat-raised-button type="button"
                (click)="add2Cart(product)"
                *ngIf="!alreadyAdded(product)"
                  class="btn px-5 btn-primary-dark transition-3d-hover">
                  <i class="ec ec-add-to-cart mr-2 font-size-20"></i>
                </button>
                <button color="dark" mat-raised-button type="button"
                *ngIf="alreadyAdded(product)"
                (click)="removeFromCart(product)"
                  class="btn px-5 btn-danger-dark transition-3d-hover">
                  <i class="ec ec-close-remove mr-2 font-size-20"></i>
                </button>
              </td>
              <td *ngIf="getDistinctKeys(product?.product_variances, 'attribute_name').length < 1">
                <button color="dark" mat-raised-button type="button"
                *ngIf="!alreadyAdded(product)"
                (click)="add2Cart(product)"
                  class="btn px-5 btn-primary-dark transition-3d-hover">
                  <i class="ec ec-add-to-cart mr-2 font-size-20"></i>
                </button>
                <button color="dark" mat-raised-button type="button"
                *ngIf="alreadyAdded(product)"
                (click)="removeFromCart(product)"
                  class="btn px-5 btn-danger-dark transition-3d-hover">
                  <i class="ec ec-close-remove mr-2 font-size-20"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-3" style="height: 350px;">
        <div style="height: 250px;">
          <ngx-slider [init]="slider"></ngx-slider>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="close()">Done</button>
  </div>
</div>