<div class="blog-pagination mb-30">
  <div class="btn-toolbar justify-content-center mb-15">
    <div class="btn-group">
      <a href="javascript:;" class="btn btn-outline-primary prev" (click)="previous()">
        <i class="fa fa-angle-double-left"></i>
      </a>
      <a href="javascript:;" class="btn btn-outline-primary">1</a>
      <a href="javascript:;" class="btn btn-outline-primary">2</a>
      <span class="btn btn-primary current">3</span>
      <a href="javascript:;" class="btn btn-outline-primary">4</a>
      <a href="javascript:;" class="btn btn-outline-primary">5</a>
      <a href="javascript:;" class="btn btn-outline-primary next" (click)="next()">
        <i class="fa fa-angle-double-right"></i>
      </a>
    </div>
  </div>
</div>
