<!-- Button trigger modal -->
<!-- <button color="dark" id="clickOpenAddToCartModal{{product?.id}}" mat-raised-button type="button"
data-backdrop="static"
  class="btn px-5 btn-primary-dark transition-3d-hover" 
  data-toggle="modal" [attr.data-target]="'#exampleModalAddToCartModal'+product?.id">
  <i class="ec ec-add-to-cart mr-2 font-size-20"></i> {{text ? 'Add To Cart' : ''}}
</button> -->
<button color="dark" mat-raised-button type="button" 
  class="btn px-5 btn-primary-dark transition-3d-hover" (click)="showContent()">
  <i class="ec ec-add-to-cart mr-2 font-size-20"></i> {{text ? 'Add To Cart' : ''}}
</button>

<!-- Modal -->
<!-- <div class="modal fade add2cart" id="exampleModalAddToCartModal{{product?.id}}" tabindex="-100" role="dialog"
  aria-labelledby="exampleModalAddToCartModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalAddToCartModalLabel">
          <strong>Add To Cart</strong>
        </h4>
        
        <select class="form-select close" [(ngModel)]="selectedVaiance">
          <option selected>Select Variation</option>
          <option *ngFor="let vary of getDistinctKeys(product?.product_variances, 'attribute_name')">{{vary}}</option>
        </select>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8">
            <h5><strong>Options</strong></h5>
            <table class="table table-responsive table-bordered table-hover table-sm">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="pad15">Type</th>
                  <th scope="col" class="pad15">Value</th>
                  <th scope="col" class="pad15">Quantity</th>
                  <th scope="col" class="pad15" *ngIf="selectedVaiance">{{selectedVaiance}}</th>
                  <th scope="col" class="pad15">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let vary of product?.product_options;">
                  <td>
                    <p class="text-center">
                      {{vary?.attribute_meta_name  | replace : '_' : ' '}}</p>
                  </td>
                  <td>
                    <p class="text-center">
                      {{vary?.value}}</p>
                  </td>
                  <td>
                    <select class="form-select selectpicker">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                    </select>
                  </td>
                  
                  <td *ngIf="selectedVaiance">
                    <select class="form-select selectpicker">
                      <option *ngFor="let vary of getDistinctKeys(product?.product_variances, 'value')">{{vary}}</option>
                    </select>
                  </td>
                  <td>
                    <button color="dark" mat-raised-button type="button"
                    class="btn px-5 btn-primary-dark transition-3d-hover">
                    <i class="ec ec-add-to-cart mr-2 font-size-20"></i>
                  </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-4">
            <product-specification [product]="product"></product-specification>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->
