
          <div class="row">
            <div class="col-md-12">
              <p [innerHTML]="product?.description"></p>
            </div>
          </div>
          <ul class="nav flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
            <li class="nav-item text-gray-111 flex-shrink-0 flex-xl-shrink-1"><strong>SKU:</strong> <span
                class="sku"> {{product?.SKU}}</span></li>
            <li class="nav-item text-gray-111 mx-3 flex-shrink-0 flex-xl-shrink-1">/</li>
            <li class="nav-item text-gray-111 flex-shrink-0 flex-xl-shrink-1"><strong>Category:</strong> <a href="javascript:void(0)"
                class="text-blue"> {{product?.category?.name}}</a></li>
            <li class="nav-item text-gray-111 mx-3 flex-shrink-0 flex-xl-shrink-1">/</li>
            <li class="nav-item text-gray-111 flex-shrink-0 flex-xl-shrink-1"><strong>Keywords:</strong> <a href="javascript:void(0)"
                class="text-blue"> {{product?.keywords}}</a></li>
          </ul>
