<!-- breadcrumb -->
<div>
  <checkout-nav [title]="'Delivery & Payment Clearing'" [cartLevel]="true"></checkout-nav>
</div>
<!-- End breadcrumb -->

<div class="container">
  <div class="mb-5">
    <h1 class="text-center">Checkout</h1>
  </div>
  <!-- Accordion -->
  <div id="shopCartAccordion" class="accordion rounded mb-5">
    <!-- Card -->
    <div class="card border-0">
      <div id="shopCartHeadingOne" class="alert alert-primary mb-0" role="alert">
        Review cart? <a href="javascript:void(0);" class="alert-link" data-toggle="collapse" data-target="#shopCartOne"
          aria-expanded="false" aria-controls="shopCartOne">Click here to review</a>
      </div>
      <div id="shopCartOne" class="collapse border border-top-0" aria-labelledby="shopCartHeadingOne"
        data-parent="#shopCartAccordion">
        <app-cart></app-cart>
      </div>
    </div>
    <!-- End Card -->
  </div>
  <!-- End Accordion -->

  <form class="js-validate" novalidate="novalidate" [formGroup]="billingForm">
    <div class="row">
      <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
        <div class="pl-lg-3 ">
          <div class="bg-gray-1 rounded-lg">
            <!-- Order Summary -->
            <div class="p-4 mb-4 checkout-table">
              <!-- Title -->
              <div class="border-bottom border-color-1 mb-5">
                <h3 class="section-title mb-0 pb-2 font-size-25">Your order</h3>
              </div>
              <!-- End Title -->

              <!-- Product Content -->
              <table class="table">
                <thead>
                  <tr>
                    <th class="product-name">Product</th>
                    <th class="product-total">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="cart_item" *ngFor="let c of cartItems">
                    <td>{{c?.name}}&nbsp;
                      <strong class="product-quantity">× {{c?.cart?.quantity}}</strong>
                    </td>
                    <td>{{c?.cart?.quantity * c?.price}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Subtotal</th>
                    <td>{{balance}}</td>
                  </tr>
                  <tr>
                    <th>Shipping</th>
                    <td>Flat rate 1,000</td>
                  </tr>
                  <tr>
                    <th>Total</th>
                    <td><strong>{{balance + 1000}}</strong></td>
                  </tr>
                </tfoot>
              </table>
              <!-- End Product Content -->
              <div class="border-top border-width-3 border-color-1 pt-3 mb-3">
                <!-- Basics Accordion -->
                <div id="basicsAccordion1">
                  <!-- Card -->
                  <div *ngFor="let tps of paymentTypes" class="border-bottom border-color-1 border-dotted-bottom">
                    <div class="p-3" id="basicsHeading{{tps?.id}}" (click)="resetButID(tps?.id);">
                      <div class="custom-control custom-radio">
                        <input type="radio" value="payment_type_{{tps?.id}}" *ngIf="tps?.selected"
                          class="custom-control-input" id="stylishRadio1" name="payment_type_{{tps?.id}}"
                          [attr.checked]="tps?.selected">
                        <input type="radio" value="payment_type_{{tps?.id}}"
                          *ngIf="!tps?.selected || tps?.selected == false" class="custom-control-input"
                          id="stylishRadio1" name="payment_type_{{tps?.id}}">
                        <label class="custom-control-label form-label" for="payment_type_{{tps?.id}}"
                          data-toggle="collapse" [attr.data-target]="'#basicsCollapse' + tps?.id"
                          [attr.aria-expanded]="tps?.id == 1 ? true : false"
                          [attr.aria-controls]="'#basicsCollapse' + tps?.id">
                          {{tps?.name}} <app-wallet *ngIf="tps?.name == 'LasPay'"></app-wallet>
                        </label>
                      </div>
                    </div>
                    <div id="basicsCollapse{{tps?.id}}"
                      class="collapse show border-top border-color-1 border-dotted-top bg-dark-lighter"
                      [attr.aria-labelledby]="'#basicsHeading' + tps?.id" data-parent="#basicsAccordion1">
                      <div class="p-4">
                        <!-- Make your payment directly into our bank account.
                        Please use your Order ID as the payment reference when contacting the support.
                        This payment might take some time to confirm depending on your sending bank.
                        Please note your order will not be shipped until the funds have cleared in our account. -->
                        <img class="img-fluid ml-auto mr-5 sliderimg" src="{{tps?.logo}}" alt="Image Description">

                      </div>
                    </div>
                  </div>
                  <!-- End Card -->
                </div>
                <!-- End Basics Accordion -->
              </div>
              <div class="form-group d-flex align-items-center justify-content-between px-3 mb-5">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" formControlName="agree_to_condition"
                    id="defaultCheck10" required data-msg="Please agree terms and conditions."
                    data-error-class="u-has-error" data-success-class="u-has-success">
                  <label class="form-check-label form-label" for="defaultCheck10">
                    I have read and agree to the website
                    <a href="javascript:void(0);" class="text-blue">terms and
                      conditions </a>
                    <span class="text-danger">*</span>
                  </label>
                </div>
              </div>
              <div class="row" *ngIf="errorMessage">
                <div class="col-md-12">
                  <div [innerHTML]="errorMessage"></div>
                </div>
              </div>
              <button type="button" (click)="submitForm()"
                class="btn btn-primary-dark-w btn-block btn-pill font-size-20 mb-3 py-3">Place
                order</button>
              <button class="hiddenclick" angular4-paystack (paymentInit)="paymentInit()"
                [email]="authService.user.value.email" [amount]="balance * 100" [ref]="reference"
                [class]="'btn btn-primary hiddenclick'" (onClose)="paymentCancel()" (callback)="paymentDone($event)">
                Pay with Paystack
              </button>
            </div>
            <!-- End Order Summary -->
          </div>
        </div>
      </div>

      <div class="col-lg-7 order-lg-1">
        <div class="pb-7 mb-7">
          <!-- Title -->
          <div class="border-bottom border-color-1 mb-5">
            <h3 class="section-title mb-0 pb-2 font-size-25">Billing details</h3>
          </div>
          <!-- End Title -->
          <div class="row" *ngIf="errorMessage">
            <div class="col-md-12">
              <div [innerHTML]="errorMessage"></div>
            </div>
          </div>
          <div class="row"></div>
          <div class="w-100"></div>

          <div class="col-md-12">
            <!-- Input -->
            <div class="js-form-message mb-6">
              <label class="form-label">
                Delivery Mode
                <span class="text-danger">*</span>
              </label>
              <select name="addressbook" class="form-control" (change)="updateMethod($event)"
                data-style="btn height-40 text-gray-60 font-weight-normal border-0 rounded-0 bg-white px-5 py-2">
                <!-- <option value="" selected="selected" *ngIf="!selectedMEthod">Select Delivery Mode</option> -->
                <option value="Address Delivery" selected="selected">Address Delivery</option>
                <option value="Pick up">Pick up</option>
              </select>
            </div>
            <!-- End Input -->
          </div>
          <div class="w-100"></div>
          <div class="col-md-12 order-lg-2 mb-7 mb-lg-0" *ngIf="selectedMEthod == 'Pick up'">
            <div class="pl-lg-3 ">
              <div class="bg-gray-1 rounded-lg">
                <!-- Order Summary -->
                <div class="p-4 mb-4 checkout-table">
                  <!-- Title -->
                  <div class="border-bottom border-color-1 mb-5">
                    <h3 class="section-title mb-0 pb-2 font-size-25">Pick up addresses</h3>
                  </div>
                  <!-- End Title -->

                  <!-- Product Content -->
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="product-name">Location</th>
                        <th class="product-total">Address</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="cart_item">
                        <td>
                          <strong class="product-quantity">Surulere</strong>
                        </td>
                        <td>126, Ogunlana drive, Surulere, Lagos state</td>
                      </tr>
                      <tr class="cart_item">
                        <td>
                          <strong class="product-quantity">Open Hours</strong>
                        </td>
                        <td>We are open 9am - 5pm every Mon-Sat</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- End Order Summary -->
              </div>
            </div>
          </div>

          <!-- Billing Form -->
          <div class="row" *ngIf="userManagement.address_list.value.length > 0">

            <div class="w-100"></div>

            <div class="col-md-12" *ngIf="selectedMEthod == 'Address Delivery'">
              <!-- Input -->
              <div class="js-form-message mb-6">
                <label class="form-label">
                  Select from addressbook
                  <span class="text-danger">*</span>
                </label>
                <select name="addressbook" class="form-control"
                formControlName="addressbook"
                (change)="updateAddressBook($event)"
                  data-style="btn height-40 text-gray-60 font-weight-normal border-0 rounded-0 bg-white px-5 py-2">
                  <option value="" selected="selected">Select Existing address</option>
                  <option value="{{address?.id}}" *ngFor="let address of userManagement.address_list | async">
                    {{address?.address}}</option>
                </select>
              </div>
              <!-- End Input -->
            </div>

            <div class="w-100" *ngIf="selectedMEthod == 'Address Delivery'"></div>
          </div>
          <!-- End Billing Form -->

          <!-- Accordion -->
          <div *ngIf="!addressbook && selectedMEthod == 'Address Delivery'" id="shopCartAccordion2"
            class="accordion rounded mb-6">
            <!-- Card -->
            <div class="card border-0">
              <div id="shopCartHeadingThree" class="custom-control custom-checkbox d-flex align-items-center">
                <input type="checkbox" class="custom-control-input" id="createAnaccount" name="createAnaccount">
                <label class="custom-control-label form-label" for="createAnaccount" data-toggle="collapse"
                  data-target="#shopCartThree" aria-expanded="false" aria-controls="shopCartThree"
                  id="shouldcollapseNewAddress">
                  Create new billing address?
                </label>
              </div>
              <div id="shopCartThree" class="collapse mt-2" aria-labelledby="shopCartHeadingThree"
                data-parent="#shopCartAccordion2">
                <div class="row mt-2">
                  <div class="col-md-6">
                    <!-- Input -->
                    <div class="js-form-message mb-6">
                      <label class="form-label">
                        First name
                        <span class="text-danger">*</span>
                      </label>
                      <input type="text" formControlName="first_name" class="form-control" name="first_name"
                        placeholder="First name" aria-label="First name" required=""
                        data-msg="Please enter your frist name." data-error-class="u-has-error"
                        data-success-class="u-has-success" autocomplete="off">
                    </div>
                    <!-- End Input -->
                  </div>

                  <div class="col-md-6">
                    <!-- Input -->
                    <div class="js-form-message mb-6">
                      <label class="form-label">
                        Last name
                        <span class="text-danger">*</span>
                      </label>
                      <input type="text" formControlName="last_name" class="form-control" name="last_name"
                        placeholder="Lastname" aria-label="Lastname" required="" data-msg="Please enter your last name."
                        data-error-class="u-has-error" data-success-class="u-has-success">
                    </div>
                    <!-- End Input -->
                  </div>

                  <div class="w-100"></div>
                  <div class="col-md-4">
                    <!-- Input -->
                    <div class="js-form-message mb-6">
                      <label class="form-label">
                        Country Prefix
                        <span class="text-danger">*</span>
                      </label>
                      <select name="country_prefix" class="form-control" formControlName="country_prefix"
                        data-style="btn height-40 text-gray-60 font-weight-normal border-0 rounded-0 bg-white px-5 py-2">
                        <option value="0" selected="selected">Select Prefix</option>
                        <option value="{{country?.prefix}}" *ngFor="let country of userManagement.country_list | async">
                          {{country?.name}} {{country?.prefix}}</option>
                      </select>
                    </div>
                    <!-- End Input -->
                  </div>

                  <div class="col-md-8">
                    <!-- Input -->
                    <div class="js-form-message mb-6">
                      <label class="form-label">
                        Phone
                        <span class="text-danger">*</span>
                      </label>
                      <input type="text" formControlName="phone_number" class="form-control" name="phone_number"
                        placeholder="Phone number" aria-label="Phone number" required=""
                        data-msg="Please enter a valid phone number." data-error-class="u-has-error"
                        data-success-class="u-has-success">
                    </div>
                    <!-- End Input -->
                  </div>

                  <div class="w-100"></div>
                </div>
              </div>
            </div>
            <!-- End Card -->
          </div>
          <!-- End Accordion -->
          <!-- Title -->
          <div class="border-bottom border-color-1 mb-5" *ngIf="!addressbook && selectedMEthod == 'Address Delivery'">
            <h3 class="section-title mb-0 pb-2 font-size-25">Billing address</h3>
          </div>
          <div id="shopCartAccordion3" class="accordion rounded mb-5"
            *ngIf="!addressbook && selectedMEthod == 'Address Delivery'">
            <div class="card border-0">
              <!-- Billing Form -->
              <div class="row mb-2">

                <div class="col-md-6">
                  <!-- Input -->
                  <div class="js-form-message mb-6">
                    <label class="form-label">
                      Country
                      <span class="text-danger">*</span>
                    </label>
                    <select name="country_id" formControlName="country_id" class="form-control"
                      data-style="btn height-40 text-gray-60 font-weight-normal border-0 rounded-0 bg-white px-5 py-2">
                      <option value="0" selected="selected">Select Country</option>
                      <option value="{{country?.id}}" *ngFor="let country of userManagement.country_list | async">
                        {{country?.name}}</option>
                    </select>
                  </div>
                  <!-- End Input -->
                </div>

                <div class="col-md-6">
                  <!-- Input -->
                  <div class="js-form-message mb-6">
                    <label class="form-label">
                      State
                      <span class="text-danger">*</span>
                    </label>
                    <select name="state_id" class="form-control" formControlName="state_id"
                      data-style="btn height-40 text-gray-60 font-weight-normal border-0 rounded-0 bg-white px-5 py-2">
                      <option value="0" selected="selected">Select State</option>
                      <option value="{{country?.id}}" *ngFor="let country of userManagement.state_list | async">
                        {{country?.name}}</option>
                    </select>
                  </div>
                  <!-- End Input -->
                </div>
                <div class="col-md-6">
                  <!-- Input -->
                  <div class="js-form-message mb-6">
                    <label class="form-label">
                      LGA
                      <span class="text-danger">*</span>
                    </label>
                    <select name="lga" class="form-control" formControlName="lga_id"
                      data-style="btn height-40 text-gray-60 font-weight-normal border-0 rounded-0 bg-white px-5 py-2">
                      <option value="0" selected="selected">Select LGA</option>
                      <option value="{{country?.id}}" *ngFor="let country of userManagement.lga_list | async">
                        {{country?.name}}</option>
                    </select>
                  </div>
                  <!-- End Input -->
                </div>
                <div class="col-md-6">
                  <!-- Input -->
                  <div class="js-form-message mb-6">
                    <label class="form-label">
                      Ward
                      <span class="text-danger">*</span>
                    </label>
                    <select name="ward_id" class="form-control" formControlName="ward_id"
                      data-style="btn height-40 text-gray-60 font-weight-normal border-0 rounded-0 bg-white px-5 py-2">
                      <option value="0" selected="selected">Select Ward</option>
                      <option value="{{country?.id}}" *ngFor="let country of userManagement.ward_list | async">
                        {{country?.name}}</option>
                    </select>
                  </div>
                  <!-- End Input -->
                </div>

                <div class="col-md-9">
                  <!-- Input -->
                  <div class="js-form-message mb-6">
                    <label class="form-label">
                      Address
                      <span class="text-danger">*</span>
                    </label>
                    <input type="text" formControlName="address" class="form-control" name="address"
                      placeholder="470 address" aria-label="470 Lucy Forks" required=""
                      data-msg="Please enter a valid address." data-error-class="u-has-error"
                      data-success-class="u-has-success">
                  </div>
                  <!-- End Input -->
                </div>
                <div class="w-100"></div>
              </div>
              <!-- End Billing Form -->
              <!-- <div id="shopCartHeadingFour" class="custom-control custom-checkbox d-flex align-items-center">
                <input type="checkbox" class="custom-control-input" id="shippingdiffrentAddress"
                  name="shippingdiffrentAddress">
                <label class="custom-control-label form-label" for="shippingdiffrentAddress" data-toggle="collapse"
                  data-target="#shopCartfour" aria-expanded="false" aria-controls="shopCartfour">
                  Show on map?
                </label>
              </div> -->
              <div id="shopCartfour" class="collapse mt-5" aria-labelledby="shopCartHeadingFour"
                data-parent="#shopCartAccordion3">
                <!-- Shipping Form -->
                <div class="row">
                  <div class="col-lg-12 order-lg-2 mb-7 mb-lg-0">
                    <div class="pl-lg-3 ">
                      <div class="bg-dark-lighter rounded-lg">
                        <!-- Order Summary -->
                        <div class="p-4 mb-4 checkout-table">
                          <!-- Title -->
                          <div class="border-bottom border-color-1 mb-5">
                            <h3 class="section-title mb-0 pb-2 font-size-25">Location</h3>
                          </div>
                          <!-- End Title -->

                        </div>
                        <!-- End Order Summary -->
                      </div>
                    </div>
                  </div>
                  <div class="w-100"></div>
                </div>
                <!-- End Shipping Form -->
              </div>
            </div>
            <!-- End Card -->
          </div>
          <!-- End Accordion -->
          <!-- Input -->
          <div class="js-form-message mb-6">
            <label class="form-label">
              Order notes (optional)
            </label>

            <div class="input-group">
              <textarea class="form-control p-5" rows="4" name="additional_information"
                formControlName="additional_information"
                placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
            </div>
          </div>
          <!-- End Input -->
        </div>
      </div>
    </div>
  </form>
</div>
