<div class="my-md-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
      <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="javascript:void(0);" (click)="goTohome()">Home</a></li>
      <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="javascript:void(0);" (click)="goToshop()">{{category}}</a></li>
      <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active" aria-current="page">
        {{name}}
      </li>
    </ol>
  </nav>
</div>
