
@media screen and (min-width: 800px) {
  .bg-img-hero{
    height: 450px !important;
  }
  .sliderimg{
    height: 300px !important;
  }
}

.img-fluid-ust{
  max-width: 100%;
  height: auto;
  height: 90px;
  width: 90px;
}
