<!-- ========== FOOTER ========== -->
<footer>
  <!-- Footer-top-widget -->
  <div class="container d-none d-lg-block mb-3">
    <div class="row">
      <div class="col-wd-3 col-lg-4">
        <div class="widget-column">
          <div class="border-bottom border-color-1 mb-5">
            <h3 class="section-title section-title__sm mb-0 pb-2 font-size-18">Featured Products</h3>
          </div>
          <ul class="list-unstyled products-group">
            <li class="product-item product-item__list row no-gutters mb-6 remove-divider" *ngFor="let product of products">
              <div class="col-auto">
                <a href="javascript:void(0)" [routerLink]="['/product/'+product.meta_name]" routerLinkActive="router-link-active" class="d-block width-75 text-center"><img
                    class="img-fluid" src="{{product?.image}}" alt="Image Description"></a>
              </div>
              <div class="col pl-4 d-flex flex-column">
                <h5 class="product-item__title mb-0"><a href="javascript:void(0)" [routerLink]="['/product/'+product.meta_name]" routerLinkActive="router-link-active"
                    class="text-blue font-weight-bold">{{product?.name}}</a></h5>
                <div class="prodcut-price mt-auto">
                  <div class="font-size-15">${{product?.price}}</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-wd-3 col-lg-4">
        <div class="border-bottom border-color-1 mb-5">
          <h3 class="section-title section-title__sm mb-0 pb-2 font-size-18">Onsale Products</h3>
        </div>
        <ul class="list-unstyled products-group">
          <li class="product-item product-item__list row no-gutters mb-6 remove-divider" *ngFor="let product of products">
            <div class="col-auto">
              <a href="javascript:void(0)" [routerLink]="['/product/'+product.meta_name]" routerLinkActive="router-link-active" class="d-block width-75 text-center"><img
                  class="img-fluid" src="{{product?.image}}" alt="Image Description"></a>
            </div>
            <div class="col pl-4 d-flex flex-column">
              <h5 class="product-item__title mb-0"><a href="javascript:void(0)" [routerLink]="['/product/'+product.meta_name]" routerLinkActive="router-link-active"
                  class="text-blue font-weight-bold">{{product?.name}}</a></h5>
              <div class="prodcut-price mt-auto">
                <div class="font-size-15">${{product?.price}}</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-wd-3 col-lg-4">
        <div class="border-bottom border-color-1 mb-5">
          <h3 class="section-title section-title__sm mb-0 pb-2 font-size-18">Top Rated Products</h3>
        </div>
        <ul class="list-unstyled products-group">
          <li class="product-item product-item__list row no-gutters mb-6 remove-divider" *ngFor="let product of products">
            <div class="col-auto">
              <a href="javascript:void(0)" [routerLink]="['/product/'+product.meta_name]" routerLinkActive="router-link-active" class="d-block width-75 text-center"><img
                  class="img-fluid" src="{{product?.image}}" alt="Image Description"></a>
            </div>
            <div class="col pl-4 d-flex flex-column">
              <h5 class="product-item__title mb-0"><a href="javascript:void(0)" [routerLink]="['/product/'+product.meta_name]" routerLinkActive="router-link-active"
                  class="text-blue font-weight-bold">{{product?.name}}</a></h5>
              <div class="prodcut-price mt-auto">
                <div class="font-size-15">${{product?.price}}</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-wd-3 d-none d-wd-block">
        <a href="javascript:void(0)" [routerLink]="['/shop']" routerLinkActive="router-link-active" class="d-block">
          <img class="img-fluid" src="/assets/img/100X60/dispatch.png"
            alt="Image Description"></a>
      </div>
    </div>
  </div>
  <!-- End Footer-top-widget -->
  <!-- Footer-newsletter -->
  <div class="bg-primary py-3">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 mb-md-3 mb-lg-0">
          <div class="row align-items-center">
            <div class="col-auto flex-horizontal-center">
              <i class="ec ec-newsletter font-size-40"></i>
              <h2 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h2>
            </div>
            <div class="col my-4 my-md-0">
              <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>N20 coupon for first shopping.</strong></h5>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <!-- Subscribe Form -->
          <form class="js-validate js-form-message">
            <label class="sr-only" for="subscribeSrEmail">Email address</label>
            <div class="input-group input-group-pill">
              <input type="email" class="form-control border-0 height-40" name="email" id="subscribeSrEmail"
                placeholder="Email address" aria-label="Email address" aria-describedby="subscribeButton" required
                data-msg="Please enter a valid email address.">
              <div class="input-group-append">
                <button type="submit" class="btn btn-dark btn-sm-wide height-40 py-2" id="subscribeButton">Sign
                  Up</button>
              </div>
            </div>
          </form>
          <!-- End Subscribe Form -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer-newsletter -->
  <!-- Footer-bottom-widgets -->
  <div class="pt-8 pb-4 bg-gray-13">
    <div class="container mt-1">
      <div class="row">
        <div class="col-lg-5">
          <div class="mb-6">
            <a href="javascript:void(0);" class="d-inline-block">
              <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
              width="175.748px" height="42.52px" viewBox="0 0 600.000000 288.000000"
   preserveAspectRatio="xMidYMid meet">

  <g transform="translate(0.000000,288.000000) scale(0.100000,-0.100000)"
  fill="#000000" stroke="none">
  <path d="M3180 2146 c-85 -19 -129 -35 -211 -77 -96 -50 -178 -116 -252 -204
  l-59 -70 -106 -1 c-81 -1 -123 -7 -172 -23 -309 -104 -445 -460 -285 -746 60
  -108 173 -198 295 -236 84 -26 217 -27 294 -3 l55 17 43 -42 c103 -101 269
  -187 412 -212 110 -19 294 -7 394 25 51 17 82 32 79 39 -5 16 -27 13 -112 -13
  -56 -18 -97 -23 -200 -23 -163 -2 -223 11 -353 75 -81 39 -119 66 -175 120
  -40 38 -63 67 -52 64 36 -10 147 83 204 173 98 154 100 375 4 538 -42 73 -135
  157 -212 194 -39 19 -71 39 -71 46 0 19 115 138 184 190 75 57 182 108 273
  129 79 20 287 23 345 7 30 -9 39 -8 49 3 16 19 15 20 -62 33 -84 14 -238 13
  -309 -3z m-702 -376 c-82 -10 -164 -44 -232 -94 -107 -80 -179 -204 -196 -334
  -7 -50 -8 -52 -9 -16 -2 82 49 204 123 290 76 88 229 165 326 162 44 -1 44 -1
  -12 -8z m145 3 c-13 -2 -35 -2 -50 0 -16 2 -5 4 22 4 28 0 40 -2 28 -4z m7
  -22 c0 -5 -13 -37 -30 -72 -112 -241 -83 -572 69 -786 22 -31 38 -60 36 -64
  -19 -29 -211 -38 -296 -13 -62 18 -147 64 -174 94 -10 11 -23 20 -28 20 -6 0
  0 -12 14 -26 39 -42 175 -104 249 -113 52 -7 57 -9 24 -10 -122 -4 -301 105
  -381 232 -38 61 -73 165 -72 217 1 40 2 38 10 -20 10 -79 73 -211 120 -255 34
  -31 34 -30 -34 66 -97 139 -104 341 -16 495 60 105 177 198 289 230 52 14 220
  18 220 5z m137 -21 c33 -17 81 -48 106 -70 93 -82 169 -235 166 -334 -2 -38
  -2 -37 -9 14 -23 182 -142 335 -310 401 -25 10 -38 18 -29 19 9 0 43 -14 76
  -30z m-9 -19 c71 -36 175 -138 209 -205 71 -140 72 -311 1 -451 -30 -58 -129
  -161 -183 -190 l-37 -19 -22 27 c-115 144 -178 368 -156 557 11 98 23 144 62
  238 35 84 41 86 126 43z m262 -582 c-11 -37 -40 -97 -63 -131 -41 -59 -148
  -158 -172 -158 -5 0 -1 7 10 15 144 106 219 222 234 360 5 51 6 54 9 21 2 -21
  -6 -69 -18 -107z m-320 -326 c-19 -8 -62 -17 -95 -19 l-60 -3 60 9 c33 5 71
  13 85 19 40 16 49 11 10 -6z"/>
  <path d="M2217 1507 c-155 -49 -195 -237 -74 -344 79 -69 193 -65 275 10 l22
  20 0 -36 c0 -30 4 -37 20 -37 19 0 20 7 20 195 0 188 -1 195 -20 195 -16 0
  -20 -7 -20 -37 l0 -36 -22 20 c-54 49 -137 70 -201 50z m152 -56 c47 -34 74
  -94 69 -152 -15 -156 -207 -204 -302 -76 -33 44 -30 142 6 189 15 19 42 42 60
  52 45 23 125 17 167 -13z"/>
  <path d="M2701 1509 c-49 -20 -66 -74 -35 -117 8 -12 41 -38 72 -58 68 -43 92
  -70 91 -104 0 -47 -43 -80 -104 -80 -28 0 -44 7 -66 31 l-29 31 0 -25 c0 -31
  39 -64 86 -73 48 -9 117 26 139 72 31 66 -1 125 -100 185 -58 35 -77 67 -55
  94 18 22 60 18 87 -7 l23 -21 0 26 c0 19 -8 31 -30 42 -33 17 -45 18 -79 4z"/>
  <path d="M3579 2114 c-14 -18 -17 -15 56 -43 129 -48 295 -187 369 -309 152
  -250 154 -564 7 -812 -53 -88 -177 -214 -263 -265 -64 -38 -82 -62 -44 -59 32
  3 129 70 200 139 167 161 248 353 247 589 -1 331 -190 612 -503 750 -49 22
  -58 23 -69 10z"/>
  <path d="M410 1440 l0 -320 115 0 c108 0 115 1 115 20 0 19 -7 20 -95 20 l-95
  0 0 300 c0 293 0 300 -20 300 -20 0 -20 -7 -20 -320z"/>
  <path d="M1720 1440 l0 -320 115 0 c108 0 115 1 115 20 0 19 -7 20 -95 20
  l-95 0 0 300 c0 293 0 300 -20 300 -20 0 -20 -7 -20 -320z"/>
  <path d="M901 1505 c-53 -17 -97 -56 -122 -110 -36 -78 -23 -151 40 -216 52
  -53 108 -74 169 -63 41 7 122 50 122 64 0 6 5 10 10 10 6 0 10 -16 10 -35 0
  -28 4 -35 20 -35 19 0 20 7 20 195 0 188 -1 195 -20 195 -16 0 -20 -7 -20 -37
  l0 -36 -22 20 c-56 50 -137 69 -207 48z m145 -50 c46 -27 84 -90 84 -141 0
  -44 -40 -116 -79 -141 -47 -32 -125 -32 -172 0 -107 72 -107 212 0 284 47 32
  111 31 167 -2z"/>
  <path d="M1383 1505 c-63 -27 -56 -100 16 -150 71 -49 121 -101 121 -125 0
  -12 -13 -35 -29 -51 -43 -42 -102 -41 -142 2 -33 35 -45 33 -35 -6 9 -36 84
  -70 134 -60 43 8 102 63 103 96 4 73 -12 97 -101 154 -54 34 -70 50 -70 68 0
  52 64 65 99 21 l21 -27 0 31 c0 25 -6 35 -30 47 -35 18 -46 18 -87 0z"/>
  </g>
  </svg>
            </a>
          </div>
          <div class="mb-4">
            <div class="row no-gutters">
              <div class="col-auto">
                <i class="ec ec-support text-primary font-size-56"></i>
              </div>
              <div class="col pl-3">
                <div class="font-size-13 font-weight-light">Got questions? Call us 24/7!</div>
                <a href="tel:+80080018588" class="font-size-20 text-gray-90">(800) 8001-8588, </a><a
                  href="tel:+0600874548" class="font-size-20 text-gray-90">(0600) 874 548</a>
              </div>
            </div>
          </div>
          <div class="mb-4">
            <h6 class="mb-1 font-weight-bold">Contact info</h6>
            <address class="">
              126 Ogunlana drive, Suruler Lagos, Nigeria
            </address>
          </div>
          <div class="my-4 my-md-4">
            <ul class="list-inline mb-0 opacity-7">
              <li class="list-inline-item mr-0">
                <a class="btn font-size-20 btn-icon btn-soft-dark btn-bg-transparent rounded-circle" href="javascript:void(0);">
                  <span class="fab fa-facebook-f btn-icon__inner"></span>
                </a>
              </li>
              <li class="list-inline-item mr-0">
                <a class="btn font-size-20 btn-icon btn-soft-dark btn-bg-transparent rounded-circle" href="javascript:void(0);">
                  <span class="fab fa-google btn-icon__inner"></span>
                </a>
              </li>
              <li class="list-inline-item mr-0">
                <a class="btn font-size-20 btn-icon btn-soft-dark btn-bg-transparent rounded-circle" href="javascript:void(0);">
                  <span class="fab fa-twitter btn-icon__inner"></span>
                </a>
              </li>
              <li class="list-inline-item mr-0">
                <a class="btn font-size-20 btn-icon btn-soft-dark btn-bg-transparent rounded-circle" href="javascript:void(0);">
                  <span class="fab fa-github btn-icon__inner"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="row">
            <div class="col-12 col-md mb-4 mb-md-0">
              <h6 class="mb-3 font-weight-bold">Find it Fast</h6>
              <!-- List Group -->
              <ul class="list-group list-group-flush list-group-borderless mb-0 list-group-transparent">
                <li><a class="list-group-item list-group-item-action"
                    href="javascript:void(0);" (click)="goToPage('shop')">Laptops & Computers</a></li>
                <li><a class="list-group-item list-group-item-action"
                    href="javascript:void(0);" (click)="goToPage('shop')">Cameras & Photography</a></li>
                <li><a class="list-group-item list-group-item-action"
                    href="javascript:void(0);" (click)="goToPage('shop')">Smart Phones & Tablets</a></li>
                <li><a class="list-group-item list-group-item-action"
                    href="javascript:void(0);" (click)="goToPage('shop')">Video Games & Consoles</a></li>
                <li><a class="list-group-item list-group-item-action"
                    href="javascript:void(0);" (click)="goToPage('shop')">TV & Audio</a></li>
                <li><a class="list-group-item list-group-item-action"
                    href="javascript:void(0);" (click)="goToPage('shop')">Gadgets</a></li>
                <li><a class="list-group-item list-group-item-action"
                    href="javascript:void(0);" (click)="goToPage('shop')">Car Electronic & GPS</a></li>
              </ul>
              <!-- End List Group -->
            </div>

            <div class="col-12 col-md mb-4 mb-md-0">
              <!-- List Group -->
              <ul class="list-group list-group-flush list-group-borderless mb-0 list-group-transparent mt-md-6">
                <li><a class="list-group-item list-group-item-action"
                    href="javascript:void(0);" (click)="goToPage('shop')">Printers & Ink</a></li>
                <li><a class="list-group-item list-group-item-action"
                    href="javascript:void(0);" (click)="goToPage('shop')">Software</a></li>
                <li><a class="list-group-item list-group-item-action"
                    href="javascript:void(0);" (click)="goToPage('shop')">Office Supplies</a></li>
                <li><a class="list-group-item list-group-item-action"
                    href="javascript:void(0);" (click)="goToPage('shop')">Computer Components</a></li>
                <li><a class="list-group-item list-group-item-action"
                    href="javascript:void(0);" (click)="goToPage('shop')">Accesories</a></li>
              </ul>
              <!-- End List Group -->
            </div>

            <div class="col-12 col-md mb-4 mb-md-0">
              <h6 class="mb-3 font-weight-bold">Customer Care</h6>
              <!-- List Group -->
              <ul class="list-group list-group-flush list-group-borderless mb-0 list-group-transparent">
                <li><a class="list-group-item list-group-item-action" href="javascript:void(0);" (click)="goToPage('account/profile')" >My Account</a></li>
                <li><a class="list-group-item list-group-item-action" href="javascript:void(0);" (click)="goToPage('account/orders')" >Order
                    Tracking</a></li>
                <li><a class="list-group-item list-group-item-action" href="javascript:void(0);" (click)="goToPage('cart')" >Cart List</a></li>
                <li><a class="list-group-item list-group-item-action" href="javascript:void(0);" (click)="goToPage('faq')">FAQs</a></li>
                <li><a class="list-group-item list-group-item-action" href="javascript:void(0);" (click)="goToPage('shop')" >Product
                    Support</a></li>
              </ul>
              <!-- End List Group -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer-bottom-widgets -->
  <!-- Footer-copy-right -->
  <div class="bg-gray-14 py-2">
    <div class="container">
      <div class="flex-center-between d-block d-md-flex">
        <div class="mb-3 mb-md-0">© <a href="javascript:void(0);" class="font-weight-bold text-gray-90">LasLas</a> - All rights Reserved
        </div>
        <div class="text-md-right">
          <span class="d-inline-block bg-white border rounded p-1">
            <img class="max-width-5" src="/assets/img/100X60/img1.jpg" alt="Image Description">
          </span>
          <span class="d-inline-block bg-white border rounded p-1">
            <img class="max-width-5" src="/assets/img/100X60/img2.jpg" alt="Image Description">
          </span>
          <span class="d-inline-block bg-white border rounded p-1">
            <img class="max-width-5" src="/assets/img/100X60/img3.jpg" alt="Image Description">
          </span>
          <span class="d-inline-block bg-white border rounded p-1">
            <img class="max-width-5" src="/assets/img/100X60/img4.jpg" alt="Image Description">
          </span>
          <span class="d-inline-block bg-white border rounded p-1">
            <img class="max-width-5" src="/assets/img/100X60/img5.jpg" alt="Image Description">
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer-copy-right -->
</footer>
<!-- ========== END FOOTER ========== -->


<app-livechat></app-livechat>
<!-- Go to Top -->
<a class="js-go-to u-go-to" href="javascript:void(0);" data-position='{"bottom": 15, "right": 15 }' data-type="fixed"
  data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp" data-hide-effect="slideOutDown">
  <span class="fas fa-arrow-up u-go-to__inner"></span>
</a>
<!-- End Go to Top -->
